table {
    position: absolute;
    left: 50%;
   margin-top: 30px;
    transform: translate(-50%, -50%);
    border-collapse: collapse;
    width: 800px;
    height: 100px;
    border: 1px solid #bdc3c7;
    
}


th,
td {
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#header {
    background-color: #272e48;
    color: #fff;
}





.card-custom-height {
    height: 20rem !important;
    max-height: none; /* Adjust the maximum height based on your needs */
    overflow-y: auto;
    overflow-x: hidden;

}
/* .card{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.card-body {
    flex: 1;
    overflow-y: auto;
} */
.bl{
    background: rgb(39,46,72);
    background: linear-gradient(90deg, rgba(39,46,72,1) 36%, rgba(39,46,72,1) 82%);
    
}
.table-container{
    background-color: #ddd;
}